/**

--------------------------------------------------------------*/
/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Inter", sans-serif;
    --font-secondary: "Poppins", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #0a0d13;
    --color-primary: #0d42ff;
    --color-secondary: #0e1d34;
  }
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  body {
    font-family: var(--font-default);
    color: var(--color-default);
  }
  
  a {
    color: var(--color-primary);
    text-decoration: none;
  }
  
  a:hover {
    color: #406aff;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-primary);
  }
/*--------------------------------------------------------------
# About Us Section
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 700;
    font-size: 32px;
    font-family: var(--font-secondary);
    color: #001f8d;
  }

  .about .container {
    position: relative;
    padding: 205px 15px 105px;
}

.about img {
    margin-top: 50px;
}
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
  }
  
  .about .content ul i {
    flex-shrink: 0;
    font-size: 48px;
    color: var(--color-primary);
    margin-right: 20px;
    line-height: 0;
  }
  
  .about .content ul h5 {
    font-size: 18px;
    font-weight: 700;
    color: #19335c;
  }
  
  .about .content p {
    font-size: 14px;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  

  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }